<div class="jamz-wrapper">
    <div class="jamz_sidebar">
        <button ng-disabled="form" ng-click="toggleForm()" class="new-btn">+ New Artist/Album</button>
        <ul class="list-group jamz_artist-list">
            <li class="list-group-item" ng-click="getArtistCatalog(artist.ArtistID); falseForm()" ng-repeat="artist in artists">{{artist.ArtistName}}</li>
        </ul>
    </div>

    <div class="jamz_main">

        <div class="jamz_album" ng-style="{'background-image':'linear-gradient(to top, black, rgba(12, 12, 13, 0)),url(https://i.scdn.co/image/fcb6ff3b92a1412e225c69277744e33105af963f)'}" ng-if="form == false">
            <div class="jamz_album-info">
                <h1 ng-if="selectedArtist">{{selectedArtist.ArtistName}}</h1>
                <p ng-if="selectedArtist">{{albumCount}} Albums</p>
            </div>

            


            <!--<div class="jamz_album-image">
                <img src="http://www.interactivepixel.net/env/jhap2wp/data/default_artwork/music_ph.png" ng-if="selectedArtist" />
            </div>-->
        </div>

        <div class="jamz_album-list" ng-if="form == false">
            <ul>
                <li ng-repeat="album in albums">{{album.AlbumName}}</li>
            </ul>
        </div>

        <div class="jamz_form" ng-if="form == true">
            <form>
                <div class="form-group">
                    <input type="text" class="" ng-model="newEntry.ArtistName" placeholder="Artist Name">
                </div>
                <div class="form-group">
                    <input type="text" class="" ng-model="newEntry.AlbumName" placeholder="Album Name">
                </div>

                <button ng-click="postNewEntry(newEntry); toggleForm()" type="submit" class="btn btn-default">Submit</button>
                <button ng-click="toggleForm()" class="btn">Close</button>
            </form>
        </div>

    </div>
</div>