<div class="jamz-wrapper">
    <div class="jamz_sidebar">
        <button class="btn btn-primary">New Artist/Album</button>
        <ul class="list-group">
            <li class="list-group-item" ng-click="getArtistCatalog(artist.ArtistID)" ng-repeat="artist in artists">{{artist.ArtistName}}</li>
        </ul>
    </div>

    <div class="jamz_main">

        <div class="jamz_album">
            <h1>Albums</h1>
            <h4>by {{selectedArtist.ArtistName}}</h4>
            <ul>
                <li ng-repeat="album in albums">{{album.AlbumName}}</li>
            </ul>
        </div>

        <div class="jamz_form">

        </div>
    </div>
</div>