<!--<div class="jamz-nav" ng-controller="homeController">
    <div class="nav-container">
        <div class="nav-brand">
            <h2>Jamz</h2>
        </div>
        <div class="nav-links">
            <a href="#!/">Home</a>
            <a href="#!/jamz">Artists</a>
        </div>
    </div>
</div>-->

<div class="home_wrapper">
    <div class="home_wrapper-left">
        <div class="home-wrapper-nav">
           
        </div>
        <div class="home_wrapper-info">
            <a href="#!/jamz">Artists</a>
            <a href="#!/songs">Songs</a>
            <h1>Dev Exercise</h1>
            <p>For</p>
            <img src="https://media.licdn.com/mpr/mpr/shrink_200_200/AAEAAQAAAAAAAAgmAAAAJDU2NDQ5YjBmLWY0YTQtNDQ5ZC1hZDYxLTkxMmFmYTMxZmI3NA.png"/>
        </div>
    </div>
</div>