html {
    min-height: 100%
}

body {
    background-color: #1A273A;
    /*background: linear-gradient(top, #4a0c6b 0%,#669966 100%);*/
    height: 100vh;
}

* {
    font-family: 'Barlow', sans-serif;
}

/* Home */

.home_wrapper {
    background: url(https://orig00.deviantart.net/3a2d/f/2011/199/2/1/blue_glass_by_dakirby309-d40n7yb.jpg) no-repeat center center fixed;
    background-size: cover;
    min-height: 100%;
}

.home_wrapper-left {
    background-color: #172236;
    min-height: 100vh;
    width: 70%;
    opacity: .80;
    -webkit-clip-path: polygon(0 0, 66% 0, 44% 100%, 0% 100%);
    clip-path: polygon(0 0, 66% 0, 44% 100%, 0% 100%);
}

.home_wrapper-info {
    text-align: center;
    padding: 10% 50% 10% 10%;
}

/* Custom CSS for Jamz View*/
.jamz-view {
    height: 100vh;
}

.jamz-wrapper {

}

.jamz-nav {
    background-color: #172236;
    border: none;
    /*margin-bottom: 50px;*/
}

.nav-brand h2 {
    color: white;
}

.nav-container {
    padding: 0 10%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

    .nav-links a {
        margin: 20px;
        color: white;
        text-decoration: none;
        flex-grow: 1;
    }


.jamz-wrapper {
    /*background-color: #094C6B;*/
    /*margin-top: 4%;*/
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
}

.jamz_sidebar, .jamz_main {
    padding-top: 15px;
    flex-grow: 1;
    min-height: 100%;
}

.jamz_sidebar {
    background-color: #263145;
    flex-basis: 30%;
    display: flex;
    flex-flow: column;
    align-items: center;
    /*border: 2px solid black;*/
}

    .jamz_sidebar ul {
        text-align: left;
    }

.new-btn {
    color: white;
    background-color: transparent;
    border: none;
}

.jamz_artist-list {
    margin: 10px 0;
    
}

.jamz_main {
    padding-top: 0;
    flex-basis: 60%;
    text-align: center;
}

.jamz_album {
    color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px;
}

.jamz_album-info {
    text-align: left;
}

.jamz_album-info, .jamz_album-image {
    flex-grow: 1;
    margin: 10px;
}

    .jamz_album-image img {
        height: 200px;
        width: 200px;
    }

.jamz-form form {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

/* Override Bootstrap Panels */

.list-group {
    text-align: center;
    width: 100%;
}

.list-group-item {
    width: 100%;
    background-color: transparent;
    border: none;
    border-top: 1px solid #1A273A;
    border-bottom: 1px solid #1A273A;
    color: white;
    border-radius: 0 !important;
    cursor: pointer;
    padding-left: 10%;
}

    .list-group-item:hover {
        background-color: #313E51;
    }

    .list-group-item:active {
        color: black;
    }

ul {
    padding: 0;
}

    ul li {
        list-style-type: none;
    }

/* Make links white by default */
.navbar-brand {
    color: white;
}

ul li a {
    color: white;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    color: black;
    /*padding-left: 15px;
    padding-right: 15px;*/
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Helpers */

.hide-element {
    visibility: hidden;
    cursor: default;
}

.transparent {
    opacity: .80;
}

@media screen and (max-width: 425px) {
    .jamz_sidebar {
        order: 2;
    }

    .jamz_main {
        order: 1;
    }

    .jamz_album {
        text-align: center;
    }

    .jamz_album-image {
        order: 1;
    }

    .jamz_album-info {
        order: 2
    }
}
