body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Custom CSS for Jamz View*/

li p {
    background-color: black;
    color: yellow;
}

.jamz-wrapper {
    background-color: teal;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.jamz_sidebar {
    flex-basis: 1;
}

.jamz_main {
    flex-basis: 70%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    color: black;
    /*padding-left: 15px;
    padding-right: 15px;*/
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
