body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #094C6B;
}

/* Custom CSS for Jamz View*/
.jamz-nav {
    background-color: transparent;
    border: none;
}
.jamz-wrapper {
    /*background-color: #094C6B;*/
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.jamz_sidebar, .jamz_main {
    padding: 1% 5%;
}

.jamz_sidebar {
    flex-basis: 1;
    /*border: 2px solid black;*/
    height: auto;
}

.jamz_main {
    flex-basis: 70%;
}

.jamz_album {
}

.jamz-form {
}

/* Make links white by default */
.navbar-brand{
    color: white;
}

ul li a {
    color: white;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    color: black;
    /*padding-left: 15px;
    padding-right: 15px;*/
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
